html {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	background-color: #f2f2f2;
	color: #000000;
	text-transform: uppercase;
}
.container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
a {
	text-decoration: none;
}
h1 {
	font-family: "PT Sans", sans-serif;
	font-size: 21px;
	font-weight: bold;
	color: #000000;
	line-height: 26px;
	text-transform: uppercase;
	margin: 0;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
  }
.main-header {
	background-color: #ffffff;
	width: auto;
}
.navbar {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
} 
.navbar-menu {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-right: 72px;
	padding-left: 72px;	
}
.navbar-menu a {
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.media-item {
	padding-right: 164px;
}
.navbar-logo {
	position: absolute;
	width: 138px;
	height: 50px;
	right: 0; left: 0;
	margin-right: auto;
	margin-left: auto;
}
.navbar-menu a:hover,
.navbar-menu a:focus {
	color: #81b3d2;
}
.navbar-menu a:active {
	color: #cacaca;
}
a .navbar-menu-curent {
	color: #766357;
}
.five-reason {
	color: #333333;
}
.features {
	display: flex;
	justify-content: space-between;	
	background-color: #ffffff;
}
.features-title h3 {
	font-size: 21px;
}
.features-description {
	width: auto;
	height: 258px;
	text-align: center;
	color: #ffffff;
	background-color: #81b3d2;
}

.features-picture {
	position: relative;
	overflow: hidden;
}


.recomendation {
	display: flex;
	justify-content: space-between;
	width: auto;
	list-style: none;
	text-align: center;
	background-color: #ffffff;
	padding: 160px 18px 88px 27px;
}
.recomendation-title h3 {
	font-size: 21px;
}
p.recomendation-description {
	color: #333333;
}
.features-group {
	display: flex;
	justify-content: space-between;
	width: auto;
	background-color: #eeeeee;
	list-style: none;
	padding: 48px 78px 65px 95px;
}
.group-item-title h3 {
	font-size: 21px;
}
.features-group li {
	text-align: center;
}
.features-group li:not(:last-child) {
	padding-right: 165px;
}
p.group-item-number, 
.group-item-description {
	color: #333333;
}
.search-hotel {
	width: auto;
	text-align: center;
	background-color: #ffffff;
}
.searche-form li {
	list-style: none;
}
.social-button {
	list-style: none;
	
}
.search-hotel h2 {
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}
p.search-description {
	color: #333333;
}
.search-button {
	width: 458px;
	height: 59px;
	background-color: #81b3d2;
	color: #ffffff;
	font-family: "PT Sans", sans-serif;
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
}
.search-button:hover {
	background-color: #669ec0;
}
.search-button:active {
	background-color: #5496bd;
	color: #94b9d2;
}
.map {
	width: auto;
}
.main-footer {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	
	background-color: #ffffff;
	color: #000000;	
}
.footer-hashtag {
	position: relative;
	margin-top: 40px;
	margin-left: 40px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
}
.social-button {
	display: flex;
	justify-content: space-between;	
}
.twitter,
.facebook,
.youtube
 {
	width: 46px;
	height: 50px;
	background-color: #81b3d2;
	margin-right: 6px;
}
.twitter-pic
 {
	padding: 16px 14px 16px 15px;
}
.youtube-pic {
	padding: 16px 13px 16px 13px;
}
.facebook-pic {
	padding: 17px 14px 17px 13px;
}
.twitter:hover {
	background-color: #669ec0;
}
.twitter:active {
	background-color: #5496bd;
	color: #88b6d1;
}
.facebook-pic:active {
	color: #88b6d1;
}
.facebook:hover {
	background-color: #669ec0;
}
.facebook:active {
	background-color: #5496bd;
	
}
.youtube:hover {
	background-color: #669ec0;
}
.youtube:active {
	background-color: #5496bd;
	color: #88b6d1;
}

